<?xml version="1.0" encoding="UTF-8"?>
<config 
    xmlns:xsi="w3.org/2001/XMLSchema-instance"
	xmlns:xsd="w3.org/2001/XMLSchema"
	xmlns="http://www.vgaspar.pt/chordguess/config">
	<chords>
	    <chord id="A" file="A.mp3" />
	    <chord id="E" file="E.mp3" />
	    <chord id="D" file="D.mp3" />
	    <chord id="Amin" file="Amin.mp3" />
	    <chord id="Emin" file="Emin.mp3" />
	    <chord id="Dmin" file="Dmin.mp3" />
	</chords>
	<screens>
		<chordGuess padding="2">
		    <options>
		        <use id="A" />
		        <use id="Amin" />
		        <use id="E" />
		        <use id="Emin" />
		        <use id="D" />
		        <use id="Dmin" />
		    </options>
		</chordGuess>
	</screens>
</config>